# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "5"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##COREBASE##/meta \
  ##COREBASE##/../meta-oe/meta-oe \
  ##COREBASE##/../meta-oe/meta-networking \
  ##COREBASE##/../meta-oe/meta-filesystems \
  ##COREBASE##/../meta-oe/meta-python \
  ##COREBASE##/../meta-oe/meta-xfce \
  ##COREBASE##/../meta-oe/meta-gnome \
  ##COREBASE##/../meta-oe/meta-multimedia \
  ##COREBASE##/../meta-qt5 \
  ##COREBASE##/../meta-arm/meta-arm \
  ##COREBASE##/../meta-arm/meta-arm-toolchain \
  ##COREBASE##/../meta-raspberrypi \
  ##COREBASE##/../meta-intel \
  ##COREBASE##/../meta-sdr \
  ##COREBASE##/../meta-gnss-sdr \
  "

BBMASK = "meta-xilinx/meta-xilinx-core/recipes-graphics/drm/libdrm_%.bbappend"
